.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  border: solid 2px #dedede;
  padding: 3rem;
  border-radius: 16px;
}

.inputContainer {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}
