.products {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.section-title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 75px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 90px;
  margin-bottom: 90px;
}
