.canvas {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.canvas-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f5ed;
}

.canvas-details p {
  max-width: 400px;
  text-align: center;
}

.canvasImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.canvasImg img {
  width: 100%;
}

.canvasImg p {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
}
