.filterSection {
  grid-area: filter;
  position: relative;
}

.filterContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
}

.filterContent div input {
  margin-right: 1rem;
}

.asideSection .sectionName {
  background-color: #e9e9e9;
  padding: 1rem;
}

.filterSection aside {
  background-color: white;
  border: solid 1px #e9e9e9;
  border-radius: 1rem;
  overflow: hidden;
}

.mainSection {
  grid-area: main;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #e9e9e9;
  padding: 1rem;
}
