body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::root {
  --h1: 4rem;
  --caption: 1.5rem;
  --purple: #3d40cc;
  --dark: #2f2f2f;
  --light-cream: #f7f5ed;
  --darker-cream: #e0dfd7;
}
